@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.topSliderContainer .slick-dots li button:before {
  display: none;
}
.topSliderContainer .slick-dots {
  position: absolute;
  bottom: 30px; 
  left: 50%;
  transform: translateX(-50%); 
  display: flex !important;
  justify-content: center;
  gap: 10px; /* Add spacing between dots */
}

.topSliderContainer .slick-dots li {
  margin: 0; /* Reset margin for the dots */
}

.topSliderContainer .slick-dots li button {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.3); /* Default dot color */
  border-radius: 50%;
  border: none;
  transition: background-color 0.3s ease;
}

.topSliderContainer .slick-dots li.slick-active button {
  background-color: #fff;
  transform: scale(1.2);
}

.mangaSliderContainer .slick-list {margin: 0 -5px;}
.mangaSliderContainer .slick-slide > div {padding: 0 5px;}

.bottomOverlay {
  position: relative;
  overflow: hidden;
}

.bottomOverlay::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(rgba(255, 255, 255, 0), black 80%);
  z-index: 1;
}